

.Boton {
    display: flex;
    flex-direction: column;
    height: 158px;
    justify-content: space-between;
    margin-left: 5%;
    width: 90%; 
}

.Boton-encriptar {
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #0A3871;
    background-color: #0A3871;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    height: 67px;
}

.Boton-desencriptar {
    background-color:#E9ECF8;
    border-color: #0A3871;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    color: #0A3871;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    height: 67px;
}

@media screen and (min-width: 768px) {
    .Boton {
        flex-direction: row;
        height: 67px;
    }

    .Boton-encriptar {
        width: 48%;
    }

    .Boton-desencriptar {
        width: 48%;
    }
}

@media screen and (min-width: 1440px){
    .Boton {
        margin-left: 17%;
        width: 47%;
    }

    .Boton-desencriptar {
        background-color: #D8DFE8;
    }
}