
.Texto-entrada {
    background-color: rgb(220, 163, 163);
    height: 330px;
}

.Texto-entrada-area {
    height: 296px;
}

.Texto-entrada-form {
    border: none;
    background-color: transparent;
    color: #0A3871;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    margin-left: 5%;
    width: 90%;
}

.Texto-entrada-aviso {
    display: flex;
    margin-bottom: 16px;
    margin-left: 5%;
    height: 18px;
    white-space: nowrap ;
    width: 300px;
}

.Texto-entrada-icono {
    background: url("../pictures/AlertVector.svg") no-repeat center;
    height: 16px;
    width: 20px;
}

.Texto-entrada-cont {
    color: #495057;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 8px;
    width: 280px;
    
    height: 16px;    
}

@media screen and (min-width: 768px) {
    .Texto-entrada {
        height: 600px;
    }

    .Texto-entrada-area {
        height: 566px;
    }

}

@media screen and (min-width: 1440px){
    .Texto-entrada {
        height: 670px;
        margin-left: 17%;
        width: 47%;
    }

    .Texto-entrada-area {
       height: 636px;
    }
}