.Texto-salida {
    background-color: white;
    border-radius: 32px;
    display: inline-block;
    height: 186px;
    margin-left: 6.5%;
    margin-top: 64px;
    vertical-align: middle;
    width: 87%;
}

.Texto-salida-muneco {
    display: none;
}

.Texto-salida-sinTexto {
    color: #072B61;
    display: inline-block;
    font-family: 'Inter';
    height: 122px;
    margin-left: 10%;
    margin-top: 32px;
    text-align: center;
    width: 80%;   
}

.Texto-salida-aviso1 {
    font-size: 24px;
    font-weight: 700;
    height: 58px;
    line-height: 29px;
}

.Texto-salida-aviso2 {
    font-size: 16px;
    font-weight: 400;
    height: 74px;
    line-height: 24px;
}

.Texto-salida-encriptado {
    height: 80%;
    margin-left: 10%;
    margin-top: 32px;
    width: 80%;
}

.resultado {
    color:#0A3871;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 50%;
}

.oculto {
    display: none;
}

@media screen and (min-width: 768px) {
    .Texto-salida {
        height: 133px;
        width: 90%;
        margin-left: 5%;
    }

    .Texto-salida-muneco {
        display: none;
    }

    .Texto-salida-sinTexto {
        height: 69px;
    }

    .Texto-salida-aviso1 {
        line-height: 29px;
        height: 29px;
    }

    .Texto-salida-aviso2 {
        margin-top: 16px;
        line-height: 150%;
        height: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .Texto-salida {
        height: 944px;
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        top: 40px;
        left: 70%;
        width: 400px;
    }

    .Texto-salida-muneco {
        background: url("../pictures/Muneco.svg") no-repeat center;
        display: block;
        margin-left: 32px;
        margin-top: 243px;
        height: 304px;
        width: 336px;
    }

    .Texto-salida-sinTexto {
        height: 122px;
        margin-top: 32px;
    }
    
    .Texto-salida-aviso1 {
        height: 58px;
    }

    .Texto-salida-aviso2 {
        height: 48px;
    }

}